sample_flows/flows_kii_thing_edison.json
[{"type":"tab","id":"9e9aed85.61651","label":"LEDs"},{"type":"tab","id":"52abb37b.ad544c","label":"LightnessSensor"},{"id":"57cc66af.a83398","type":"inject","z":"9e9aed85.61651","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96,"y":109,"wires":[["fc35c109.03ca4"]]},{"id":"68168e4e.97e97","type":"function","z":"9e9aed85.61651","name":"ActionResultsAggregate","func":"if (msg == null){\n    return msg;\n}\ncontext.data = context.data || {};\nvar action = Object.keys(msg.payload)[0];\n\nif (action == \"turnRedLED\"){\n    console.log(action);\n    context.data.turnRedLED = msg.payload;\n    context.data.RedLED = msg.payload.turnRedLED.result;\n    context.data.commandID = msg.commandID;\n    msg = null;\n   \n}else if (action == \"turnGreenLED\"){\n    console.log(action);\n    context.data.turnGreenLED = msg.payload;\n    context.data.GreenLED = msg.payload.turnGreenLED.result;\n    context.data.commandID = msg.commandID;\n    msg = null;\n    \n}else{\n    msg = null;\n}\n\nif(context.data.turnRedLED != null && context.data.turnGreenLED != null) {\n    console.log(\"got both result\");\n    var msg2_payload ={\n      actionResults:[\n          context.data.turnRedLED, \n          context.data.turnGreenLED\n        ]  \n    };\n    var msg2 = {\n        commandID: context.data.commandID,\n        payload: msg2_payload\n    };\n    var thingState = {\n        RedLED: context.data.RedLED,\n        GreenLED: context.data.GreenLED\n    };\n    msg2.thingState=thingState;\n    context.data=null;\n\treturn msg2;\n} else return msg;","outputs":1,"noerr":0,"x":1011,"y":114,"wires":[["f50340c2.0afcc","cfa60f2e.3059f"]]},{"id":"f50340c2.0afcc","type":"debug","z":"9e9aed85.61651","name":"","active":true,"console":"false","complete":"true","x":1242,"y":45,"wires":[]},{"id":"fc35c109.03ca4","type":"Kii Onboard Thing","z":"9e9aed85.61651","site":"us","appID":"5b8d7fc2","appKey":"c6a72bcd9836399f943d3798c7f3719f","vendorThingID":"th.ledthing","thingPassword":"dummyPass","thingType":"LED","thingProperties":"","x":294,"y":129,"wires":[["20ac903f.df537"]]},{"id":"20ac903f.df537","type":"Kii Command Receiver","z":"9e9aed85.61651","x":544,"y":132,"wires":[["574b06bb.a8b4f8","d374412.f2c8bc","d360d7d4.2c9f28"]]},{"id":"574b06bb.a8b4f8","type":"Kii Action Handler","z":"9e9aed85.61651","action":"turnRedLED","name":"Turn Red LED","x":794,"y":74,"wires":[["68168e4e.97e97"],["560d3738.a9f2c8"]]},{"id":"d374412.f2c8bc","type":"Kii Action Handler","z":"9e9aed85.61651","action":"turnGreenLED","name":"Turn Green LED","x":785,"y":170,"wires":[["68168e4e.97e97"],["99889a64.667768"]]},{"id":"cfa60f2e.3059f","type":"Kii ActionResults Sender","z":"9e9aed85.61651","x":1311,"y":120,"wires":[[]]},{"id":"d360d7d4.2c9f28","type":"debug","z":"9e9aed85.61651","name":"","active":true,"console":"false","complete":"true","x":745,"y":20,"wires":[]},{"id":"560d3738.a9f2c8","type":"mraa-gpio-dout","z":"9e9aed85.61651","name":"Red LED","pin":"2","set":true,"level":"0","x":963,"y":52,"wires":[]},{"id":"99889a64.667768","type":"mraa-gpio-dout","z":"9e9aed85.61651","name":"Green LED","pin":"6","set":true,"level":"0","x":978,"y":172,"wires":[]},{"id":"71b7248a.8e48dc","type":"inject","z":"52abb37b.ad544c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":73,"y":169,"wires":[["3e88e69e.c1771a"]]},{"id":"fd6001d9.02a","type":"function","z":"52abb37b.ad544c","name":"WaitForOnboarding","func":"var thingID = msg.thingID;\ncontext.thingState = context.thingState || {};\nif (thingID == null || thingID == undefined) {\n    // get sensor data\n    context.thingState.lightness = msg.payload;\n}else {\n    // get onboard info\n    context.thingState.onboardMsg = msg\n}\n\nif(context.thingState.lightness != null && context.thingState.onboardMsg != null) {\n    var msg2 = context.thingState.onboardMsg;\n    msg2.payload = {\n        lightness: context.thingState.lightness\n    };\n    context.thingState.lightness = null;\n    return msg2;\n}else {\n    return null;\n}","outputs":1,"noerr":0,"x":492,"y":176,"wires":[["542577d8.abda88"]]},{"id":"3e88e69e.c1771a","type":"Kii Onboard Thing","z":"52abb37b.ad544c","site":"us","appID":"5b8d7fc2","appKey":"c6a72bcd9836399f943d3798c7f3719f","vendorThingID":"th.lightnessthing","thingPassword":"dummyPass","thingType":"Lightness","thingProperties":"","x":264,"y":170,"wires":[["fd6001d9.02a"]]},{"id":"542577d8.abda88","type":"Kii State Uploader","z":"52abb37b.ad544c","x":728,"y":169,"wires":[[]]},{"id":"571a29af.a8e5d8","type":"mraa-gpio-ain","z":"52abb37b.ad544c","name":"Lightness Sensor","pin":"1","interval":"10000","x":271,"y":86,"wires":[["fd6001d9.02a"]]}]